<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/images/common/favicon.ico" type="image/x-icon" />
    <link href="/static/css/tag.css" rel="stylesheet" />
    <link href="/static/iconfonts/icons/icons.css" rel="stylesheet" />
    <title><%= tagName %></title>
  </head>
  <body>
    <%- htmlMenu %>
    <div class="site-wrapper">
      <header id="header" class="header red_sunset">
        <div class="center">
          <h1 class="title"><i class="icon icon-tag"></i><%= tagName %></h1>
        </div>
      </header>
      <div class="tag-wrapper">
        <ul class="blogs">
          <% list.forEach(function(tag){ %>
            <li>
              <a href="<%= tag.blogUrl %>">
                <i class="icon icon-book"></i><%= tag.blog.title %>
                <% if(tag.top){ %>
                  <span class="top">置顶</span>
                <% } %>
              </a>
              <span class="date">( <%= tag.blog.date %> )</span>
            </li>
          <% }); %>
        </ul>
      </div>
      <footer class="copyright">
        <span><b><a href="/"><%= name %></a></b> All rights reserved. Powerd by <a style="color: #f59200" href="https://github.com/PengJiyuan/bloger" target="_blank">Bloger</a>.</span>
      </footer>
    </div>
    <script src="https://unpkg.com/particle-bg/lib/particle-bg.umd.min.js"></script>
    <script>
      particleBg('#header', {
        count: 30,
        color: '#fff'
      });
    </script>
  </body>
</html>
